<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<!--    тут указываем значения properties, чтобы не хранить их в файле config, так как это не рекомендуется делать (хардкодный вариант)-->
<!--    <context:property-placeholder location="classpath:myApplication.properties"/>-->

<!--Указываем какой пакет нужно сканировать-->
  <context:component-scan base-package="spring_intro"/>
<!--<context:property-placeholder location="classpath:myApplication.properties"/>-->

</beans>
